<template name="Header">

    <div class="ui borderless top aligned menu">
      <div class="homepage container">

        <div class="ui secondary menu" href="{{pathFor 'Home_Page'}}">
          <h1 class="ui header">
            <i class="shopping cart icon"></i>
            <div class="content">
              IT EQUIPMENT CHECKOUT
            </div>
          </h1>
          <div class="ui secondary right aligned menu" href="{{pathFor 'Home_Page'}}">
          <a class="item" href="{{pathFor 'Add_Stuff_Page' _id=stuff._id}}">
            NEW CHECKOUT
          </a>
          <a class="item" href="{{pathFor 'List_Stuff_Page' _id=stuff._id}}">
            CURRENT CHECKOUTS
          </a>
          <a class="item" href="{{pathFor 'History_Page' _id=stuff._id}}">
            HISTORY
          </a>
          <div class="right menu">
            <div class="item">
            <a href="#" class="ui item">{{> loginButtons}} </a>
          </div>
          </div>
          </div>
        </div>

      </div>


    </div>

</template>


