.ui.floated.left.top.image{
  padding-top:25px;
  padding-bottom:0px;
}


.ui.menu {
  padding-left :20px;
  padding-right :20px;
  margin-bottom:0px ;
}
h1 {
  padding-top:10px;

}

.ui.top.attached.left.floated.header {
  background-color: transparent;
  color: white;
  border:0px;
  font-size: 3.0em;
}
.ui.top.header {
  color: white;
  padding-bottom:20px;
  padding-top:10px;
  position: absolute;
  top: 50px;
  left: 16px;

}
.ui.bottom.header {
  color: black;

  font-size:4.0em;
}

.ui.bottom.attached.right.floated.header {
  background-color: transparent;
  border:0px;
  font-size: 4.0em;
}
.top.image {
  padding-top: 0px;

}


.container {
  position: relative;
  color: white;
}


.container.footer {
  width: 100%;
  text-align: center;
  color: black;
  padding-top: 50px;
  background-color:#cccccc;
  margin-right: 0px;
  padding-right: 0px;
  padding-bottom: 50px;

}

.ui.search.grid {
  background-color:#F6F5F2;
  padding-top:50px;
  padding-bottom: 50px;
  padding-right:50px;
  padding-left: 50px;
  width: 100%;
}
.ui.very.relaxed.grid {
  padding-top:50px;
  padding-bottom: 50px;
  padding-right:50px;
  padding-left: 50px;
  opacity: 0.8;
}

h2 {
  color: black;
  padding-bottom:20px;
  padding-top:15px;

}

.ui.image.container {
  padding-top:20px;
  height:280px;
  width: 250px;
  background-color: white;
}
.homepage.container {
  background-color: black;
  width: 100%;
}
body, html {
  height: 100%;
  padding-bottom: 0px;
}

.homepage.container {
  /* The image used */
  background-image: url(/images/pancakes.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:150px;
  padding-bottom: 150px;

}
.center.aligned.button {
  padding-right: 35%;
  padding-left: 41%;
  color: black;
}


.pre {
  white-space: pre-wrap;
}

div.ui.viewFull.container {
  /* The image used */
  background-image: url(/images/eggs.jpg);
  width: 100%;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:150px;
  padding-bottom: 150px;
  padding-right: 0;

}
.ui.fluid.centered.card {
  background-color:rgba(255,255,255,0.9);

}
.ui.search.container {
  width:100%;
  background-color: #F6F5F2;
  padding-bottom: 3.5%;
}
