
.ui.menu {
  padding-left :20px;
  padding-right :20px;
  margin-bottom:0px ;
}
h1 {
  padding-top:10px;

}

.container {
  position: relative;
  color: white;
}

h2 {
  color: black;
  padding-bottom:20px;
  padding-top:15px;

}

.homepage.container {
margin-top:5%;
}
body, html {
  height: 100%;
  padding-bottom: 0px;
}

.homepage.container {
  /* The image used */

}
.ui.borderless.top.aligned.menu {
  border: 1px solid rgba(34, 36, 38, 0.15);
}
div.ui.borderless.main.menu {
 margin-top:5%;
  border: none;
}
.ui.s.button {
  margin-top:2%;
}
